includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    level: 9

    paths:
        - app/

    parallel:
    	maximumNumberOfProcesses: 20
    	processTimeout: 1200.0
    	jobSize: 20
    	minimumNumberOfJobsPerProcess: 2
