includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    level: 9

    paths:
        - app/
        - tests/

    parallel:
    	maximumNumberOfProcesses: 2
    	processTimeout: 300.0
    	jobSize: 10
    	minimumNumberOfJobsPerProcess: 2
